deep_sort_realtime==1.3.2
matplotlib==3.7.2
numpy
opencv_python_headless==4.8.0.76
pandas==1.5.3
Pillow==10.0.0
plotly==5.14.1
streamlit==1.28.0
ultralytics==8.0.157
opencv_python==4.8.0.76
twilio
environs
ipython
